// navbar css start
nav {
  width: calc(100% - 2rem);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: black;
  color: white;

  ul {
    display: flex;
    align-items: center;

    li {
      list-style: none;
      margin: 0 1rem;

      a {
        text-decoration: none;
        cursor: pointer;
        padding: 0.5rem 0.7rem;
        border-radius: 50px;
        color: white;
      }
      .active {
        background: white;
        color: black;
      }
    }
  }
}

// navbar css end

// footer css starts
footer {
  width: 100%;
  background-color: black;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  
  a {
    text-decoration: none;
    color: white;
  }
}

// footer css end
